<div class="bg1">

    <div class="row">
    <form action="/login" class="login col-md-3 col-md-offset-2">
    <h1>log in</h1>
      <input name="email" type="text" tabindex="1" placeholder="email"></input>
      <input name="password" type="password" tabindex="2" placeholder="password"></input>
      <button>submit</button>
    </form>
    <form action="/signup" class="signup col-md-3 col-md-offset-2">
    <h1>sign up</h1>
      <input name="first-name" type="text" tabindex="1" placeholder="first name"></input>
      <input name="email" type="text" tabindex="2" placeholder="last name"></input>
      <button>submit</button>
    </form>
    </div>

    </div>